body{
    /*background-color: black !important;*/
}

#title-container{
    text-align: center;
}

#image-title{
    width: 100%;
    height: 200px;
    margin-bottom: 5%;
}

#text-get-started{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gray;
}